{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "m",
        "pragmaFrag": "m.Fragment"
      }
    ]
  ]
}